TUPLE Creation

In [7]:
#empty tuple
t = ()

#tuple having integers
t = (1,2,3)
print(t)

#tuple with mixed datatypes
t = (1,'raju',28,'abc')
print(t)

#nested tuple
t = (1,(2,3,4),[1,'raju',28,'abc'])
print(*t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
1 (2, 3, 4) [1, 'raju', 28, 'abc']

In [ ]:
#only paranthesis is not enough
t = ('Anand')
type(t)

str

In [10]:
#Need a comma at the end
t = ('Anand',)
type(t)

tuple

In [ ]:
#parenthesis is optional
t = "Anand",
print(type(t))
print(t)

<class 'tuple'>
('Anand',)

Accessing Elements in Tuple

In [14]:
t = ('Anand','Ankit','Divya','naveen')
print(t[1])

Ankit

In [ ]:
#negative index
print(t[-1])  #print last element

naveen

In [16]:
#nested tuple
t = ('Abc',('Anand','Ankit','Divya','naveen'))
print(t[1])

('Anand', 'Ankit', 'Divya', 'naveen')

In [17]:
print(t[1][2])

Divya

In [19]:
#slicing 
t = (1,2,3,4,5,6)
print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [ ]:
#creating tuple
t = (1,2,3,4,[5,6,7])

# t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [22]:
#concatination

t1 = (1,2,3)
t2 = (5,6,7)
t3 = t1+t2
print(t3)

(1, 2, 3, 5, 6, 7)

In [21]:
#repeat the elements in a tuple for a given number of times using the * operator
t = (('satish',)*4)
print(t)

('satish', 'satish', 'satish', 'satish')

Deletion In Tuple

In [23]:
# we can not change the elements in a tuple
#that also means we cannot delete or remove items from  a tuple

#delete entire tuple using del keyword
t = (1,2,3,4,5,6)

#delete entire tuple
del t

Tuple Count

In [25]:
t = (1,2,3,4,1,3,3,5,1)

#get the frequency of particular elemnt
t.count(1)

3

Tuple Index

In [24]:
t = (1,2,3,4,1,3,3,5,1)
print(t.index(3)) #return index of the first element is equal to 3

2

Tuple Membership

In [ ]:
#test if an item exists in a tuple or not, using the keyword in
t = (1,2,3,4,1,3,3,5,1)
print(1 in t)
print(7 in t)

True
False

Tuple Length

In [27]:
t = (1,2,3,4,1,3,3,5,1)
print(len(t))

9

Tuple Sort

In [ ]:
t = (1,2,3,4,1,3,3,5,1)
new_t = sorted(t)
print(new_t)  # take elements in the tuple and return a new sorted list 
#does not sort the tuple itself

In [29]:
#get the largest element in a tuple
t = (1,2,3,4,1,3,3,5,1)
print(max(t))

#get the largest element in a tuple
t = (1,2,3,4,1,3,3,5,1)
print(min(t))

#get sum of elements in the tuple
print(sum(t))

5
1
23