In [3]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
weather_data = [('1/1/2017',32,6,'Rain'),
                ('1/2/2017',35,6,'Sunny'),
                ('1/3/2017',28,6,'Snow'),
                ('1/4/2017',30,6,'Rain'),
                ('1/5/2017',31,6,'Snow'),
                ('1/6/2017',36,6,'Sunny')
                ]

df = pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          6  Sunny
2  1/3/2017           28          6   Snow
3  1/4/2017           30          6   Rain
4  1/5/2017           31          6   Snow
5  1/6/2017           36          6  Sunny

In [5]:
print(df.columns)

print(df.shape)

print(df.head())

print(df.tail())

print(df.day)

print(df.event)

print(df[2:5])

print(df[['day','temperature']])

df['temperature']

df['windspeed']

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')
(6, 4)
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          6  Sunny
2  1/3/2017           28          6   Snow
3  1/4/2017           30          6   Rain
4  1/5/2017           31          6   Snow
        day  temperature  windspeed  event
1  1/2/2017           35          6  Sunny
2  1/3/2017           28          6   Snow
3  1/4/2017           30          6   Rain
4  1/5/2017           31          6   Snow
5  1/6/2017           36          6  Sunny
0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object
0     Rain
1    Sunny
2     Snow
3     Rain
4     Snow
5    Sunny
Name: event, dtype: object
        day  temperature  windspeed event
2  1/3/2017           28          6  Snow
3  1/4/2017           30          6  Rain
4  1/5/2017           31          6  Snow
        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           30
4  1/5/2017           31
5  1/6/2017           36

0    6
1    6
2    6
3    6
4    6
5    6
Name: windspeed, dtype: int64

In [6]:
print(df['temperature'].max())

print(df['temperature'].min())

print(df['temperature'].describe())

36
28
count     6.00000
mean     32.00000
std       3.03315
min      28.00000
25%      30.25000
50%      31.50000
75%      34.25000
max      36.00000
Name: temperature, dtype: float64

In [7]:
#select rows which has maximum temperature
print(df[df.temperature == df.temperature.max()])

#select rows which has minimum temperature
print(df[df.temperature == df.temperature.min()])

        day  temperature  windspeed  event
5  1/6/2017           36          6  Sunny
        day  temperature  windspeed event
2  1/3/2017           28          6  Snow

In [8]:
df.day[df.temperature == df.temperature.min()]

2    1/3/2017
Name: day, dtype: object

In [9]:
df = pd.read_excel('weather_data.xlsx')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
df['windspeed'].mean()

np.float64(4.666666666666667)