# Pandas
Day: 29
Date: 04/12/2025
Day: Thursday

In [1]:
import numpy as np
# pip3 install pandas
import pandas as pd

In [2]:
df = pd.read_csv("nyc_weather.csv")
print(df)

          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241

In [3]:
print(df['Temperature'].max())

50

In [4]:
# To know which day it rains
print(df['EST'][df['Events'] == 'Rain'])

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [5]:
# Average wind speed
print(df['WindSpeedMPH'].mean())

6.892857142857143

In [6]:
df = pd.read_csv("complete_student_analysis_dataset.csv")
print(df)

    student_id  math_original  science_original  english_original  attendance  \
0         1001          82.45             76.70             65.00          71
1         1002          72.93             68.88             65.30          90
2         1003          84.72             64.79             65.61          99
3         1004          97.85             73.50             65.91          70
4         1005          71.49             97.72             66.21          97
..         ...            ...               ...               ...         ...
95        1096          53.05             69.76             93.79          92
96        1097          79.44             98.92             94.09          91
97        1098          78.92             75.72             94.39          88
98        1099          75.08             95.68             94.70          94
99        1100          71.48             85.25             95.00          95

    math_int8  attendance_float32  weighted_total  math_mean  science_mean  \
0          82                  71           76.08    73.4422       79.4485
1          72                  90           69.60    73.4422       79.4485
2          84                  99           72.97    73.4422       79.4485
3          97                  70           81.34    73.4422       79.4485
4          71                  97           79.35    73.4422       79.4485
..        ...                 ...             ...        ...           ...
95         53                  92           69.08    73.4422       79.4485
96         79                  91           89.92    73.4422       79.4485
97         78                  88           81.67    73.4422       79.4485
98         75                  94           87.20    73.4422       79.4485
99         71                  95           82.18    73.4422       79.4485

    ...  grade  bonus_points  final_score  math_original_zscore  \
0   ...      C             0        76.08                 0.661
1   ...      D             0        69.60                -0.038
2   ...      C             0        72.97                 0.828
3   ...      B             0        81.34                 1.792
4   ...      C             0        79.35                -0.143
..  ...    ...           ...          ...                   ...
95  ...      D             0        69.08                -1.497
96  ...      B             5        94.92                 0.440
97  ...      B             0        81.67                 0.402
98  ...      B             5        92.20                 0.120
99  ...      B             0        82.18                -0.144

    science_original_zscore  english_original_zscore  \
0                    -0.238                   -1.706
1                    -0.917                   -1.672
2                    -1.272                   -1.637
3                    -0.516                   -1.603
4                     1.585                   -1.569
..                      ...                      ...
95                   -0.841                    1.569
96                    1.689                    1.603
97                   -0.323                    1.637
98                    1.408                    1.672
99                    0.503                    1.706

    math_original_percentile  science_original_percentile  \
0                      35.70                        60.20
1                      45.19                        60.37
2                      45.60                        60.66
3                      46.30                        61.48
4                      48.55                        61.63
..                       ...                          ...
95                     97.85                        97.72
96                     98.07                        98.50
97                     98.47                        98.87
98                     98.69                        98.92
99                    102.78                        99.43

    english_original_percentile  overall_performance
0                         65.00    Needs Improvement
1                         65.30    Needs Improvement
2                         65.61                 Good
3                         65.91    Needs Improvement
4                         66.21                 Good
..                          ...                  ...
95                        93.79    Needs Improvement
96                        94.09            Excellent
97                        94.39                 Good
98                        94.70            Excellent
99                        95.00                 Good

[100 rows x 33 columns]

In [7]:
print(df.head())

   student_id  math_original  science_original  english_original  attendance  \
0        1001          82.45             76.70             65.00          71
1        1002          72.93             68.88             65.30          90
2        1003          84.72             64.79             65.61          99
3        1004          97.85             73.50             65.91          70
4        1005          71.49             97.72             66.21          97

   math_int8  attendance_float32  weighted_total  math_mean  science_mean  \
0         82                  71           76.08    73.4422       79.4485
1         72                  90           69.60    73.4422       79.4485
2         84                  99           72.97    73.4422       79.4485
3         97                  70           81.34    73.4422       79.4485
4         71                  97           79.35    73.4422       79.4485

   ...  grade  bonus_points  final_score  math_original_zscore  \
0  ...      C             0        76.08                 0.661
1  ...      D             0        69.60                -0.038
2  ...      C             0        72.97                 0.828
3  ...      B             0        81.34                 1.792
4  ...      C             0        79.35                -0.143

   science_original_zscore  english_original_zscore  math_original_percentile  \
0                   -0.238                   -1.706                     35.70
1                   -0.917                   -1.672                     45.19
2                   -1.272                   -1.637                     45.60
3                   -0.516                   -1.603                     46.30
4                    1.585                   -1.569                     48.55

   science_original_percentile  english_original_percentile  \
0                        60.20                        65.00
1                        60.37                        65.30
2                        60.66                        65.61
3                        61.48                        65.91
4                        61.63                        66.21

   overall_performance
0    Needs Improvement
1    Needs Improvement
2                 Good
3    Needs Improvement
4                 Good

[5 rows x 33 columns]

Create Array from Student Dataset Math Scores

In [ ]:
a = np.array(df['math_original'])
print(a)
# Second way
math_scores_array = df['math_original'].to_numpy()
print(math_scores_array)

[ 82.45  72.93  84.72  97.85  71.49  71.49  98.69  86.51  67.96  83.14
  68.05  68.01  78.63  46.3   49.13  66.57  59.81  79.71  61.38  53.82
  96.98  71.61  76.01  53.63  66.83  76.66  57.74  80.64  65.99  70.62
  65.97 102.78  74.8   59.13  87.34  56.69  78.13  45.6   55.08  77.95
  86.08  77.57  73.27  70.48  52.82  64.2   68.09  90.86  80.15  48.55
  79.86  69.22  64.85  84.18  90.46  88.97  62.41  70.36  79.97  89.63
  67.81  72.22  58.4   57.06  87.19  95.34  73.92  90.05  80.42  65.32
  80.42  98.07  74.46  98.47  35.7   87.33  76.31  70.51  76.38  45.19
  71.7   80.36  97.17  67.23  62.87  67.47  88.73  79.93  67.05  82.7
  76.46  89.53  64.47  70.09  69.12  53.05  79.44  78.92  75.08  71.48]

Generate Grade Boundaries Using linspace for Science Scores

In [9]:
minVal = df['science_original'].min()
maxVal = df['science_original'].max()
print(minVal,maxVal)
gradeBoundaries = np.linspace(minVal, maxVal, 5)
print(gradeBoundaries)

60.2 99.43
[60.2    70.0075 79.815  89.6225 99.43  ]

Initialize Digital Attendance System With Zeros

In [10]:
numStudents = len(df)
attendanceSystem = np.zeros(numStudents, dtype=int)
print(attendanceSystem)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

Optimize Memory Usage for student Performance Grades

In [11]:
print(f"Original 'grade' dtype: {df['grade'].dtype}")
print("Before optimization memory usage:")
print(df['grade'].memory_usage(deep=True))
df['grade'] = df['grade'].astype('category')
print(f"Optimized 'grade' dtype: {df['grade'].dtype}")
print("After optimization memory usage:")
print(df['grade'].memory_usage(deep=True))

Original 'grade' dtype: object
Before optimization memory usage:
5132
Optimized 'grade' dtype: category
After optimization memory usage:
604

5. Optimiize Storage for math score s Using Different Integer Types

In [ ]:
print(f"Original 'mathscore' dtype: {df['math_original'].dtype}")
print("Before optimization memory usage:")
print(df['math_original'].memory_usage(deep=True))

# convert math_original to int8 (correct conversion)
df['math_int8_fixed'] = df['math_original'].astype(np.int8)

# show corrected int8 dtype and memory usage
print(f"Optimized 'math_int8_fixed' dtype: {df['math_int8_fixed'].dtype}")
print("After optimization memory usage:")
print(df['math_int8_fixed'].memory_usage(deep=True))

# covert attendance  -> unit8(correct)
df['attendance_uint8'] = df['attendance'].astype(np.uint8)
print(f"'attendance_unit8' dtype: {df['attendance_unit8'].dtype}")
print("After optimization memory usage:")
print(df['attendance_uint8'].memory_usage(deep=True))

Original 'mathscore' dtype: float64
Before optimization memory usage:
932
Optimized 'math_int8_fixed' dtype: int8
After optimization memory usage:
232
'attendance_unit8' dtype: uint8
After optimization memory usage:
232

6. Explore Float Precision with science_original scores

In [25]:
# 6. Explore Float Precision with science_original scores
print(f"Original 'science_scores' dtype: {df['science_original'].dtype}")
print("Before optimization memory usage:")
print(df['science_original'].memory_usage(deep=True))

# covert science_original  -> float16(correct)  for ML models we always use float16
df['science_scores'] = df['science_original'].astype(np.float16)
print(f"'science_scores' dtype: {df['science_scores'].dtype}")
print("After optimization memory usage:")
print(df['science_scores'].memory_usage(deep=True))

Original 'science_scores' dtype: float64
Before optimization memory usage:
932
'science_scores' dtype: float16
After optimization memory usage:
332

7. Optimize Memory for attendance Data

In [29]:
print(f"Original 'attendance_Data' dtype: {df['attendance'].dtype}")
print("Before optimization memory usage:")
print(df['attendance'].memory_usage(deep=True))

# covert attendance  -> uint8(correct)
df['attendance_Data'] = df['attendance'].astype(np.uint8)
print(f"'attendance_Data' dtype: {df['attendance_Data'].dtype}")
print("After optimization memory usage:")
print(df['attendance_Data'].memory_usage(deep=True))

Original 'attendance_Data' dtype: int64
Before optimization memory usage:
932
'attendance_Data' dtype: uint8
After optimization memory usage:
232

8. Compare Math Scores Between Different Student Groups

In [31]:
math_scores_by_grade = df.groupby('grade')['math_original'].mean()
print("Average Math Scores By Grade:")
print(math_scores_by_grade)

Average Math Scores By Grade:
grade
A    95.667500
B    83.802424
C    70.445532
D    55.320625
Name: math_original, dtype: float64

C:\Users\pcc\AppData\Local\Temp\ipykernel_17064\2517706993.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  math_scores_by_grade = df.groupby('grade')['math_original'].mean()

Calculate Average Scores with Custom Weights

In [33]:
math_weight = 0.4
science_weight = 0.4
english_weight = 0.4
df['custom_weighted_score'] = (df['math_original']*math_weight + df['science_original']*science_weight + df['english_original']*english_weight)
print("5 Custom weighted scores: ")
print(df[['math_original', 'science_original', 'english_original','custom_weighted_score']].head())

5 Custom weighted scores:
   math_original  science_original  english_original  custom_weighted_score
0          82.45             76.70             65.00                 89.660
1          72.93             68.88             65.30                 82.844
2          84.72             64.79             65.61                 86.048
3          97.85             73.50             65.91                 94.904
4          71.49             97.72             66.21                 94.168

Compare Attendance Between Different Student Groups

In [1]:
print("DataFrame Info:")
print(df.info())

DataFrame Info:

NameError: name 'df' is not defined